@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@160..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font-ar-600 {
    font-family: "Readex Pro", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.font-ar-500 {
    font-family: "Readex Pro", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.font-ar-400 {
    font-family: "Readex Pro", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: #000119;
}

::-webkit-scrollbar-thumb {
    background-color: #13CB5C;
}

.blur-effect {
    filter: blur(4px);
  }
  
  .no-scroll {
    overflow: hidden;
  }


.inter-600 {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

/* Hide the native radio input */
.subscription-options input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #555; /* Unselected border color */
    background-color: transparent;
    position: relative;
    cursor: pointer;
    outline: none;
    margin-left: 10px;
}

/* Style for the checked state */
.subscription-options input[type="radio"]:checked {
    border:6px solid #13CB5C; /* Green border when selected */
}

/* The dot inside the radio button */
.subscription-options input[type="radio"]:checked::before {
    content: "";
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #0D0E25;
    position: absolute;
    top: 0px;
    left: 0px;
}
